<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie numeru</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center">
    <div class="alert alert-success">
        <h1>
            <strong> Menu dodawanie nowego numeru do książki telefonicznej</strong>
        </h1>
    </div>
</div>
<div style="width: 400px; margin-top: 50px; margin-left: auto; margin-right: auto; padding: 20px">
    <div th:if="${info != null}" class="alert alert-danger">
        <strong th:text="${info}"></strong>
    </div>

    <form action="/addNumber" method="post" th:object="${numberForm}">
        <input th:field="*{name}" type="text" class="form-control" placeholder="Imię">
        <input th:field="*{surname}" type="text" class="form-control" placeholder="Nazwisko">
        <input th:field="*{number}" type="number" class="form-control" placeholder="Numer telefonu">
        <div style="text-align: center">
        <button style="width: 50%" type="submit" class="btn btn-primary">Dodaj nowy kontakt</button>
        </div>
    </form>
</div>
<div style="text-align: center">
    <button onclick="javascript:location.href = '/allContacts'" class="btn btn-primary">Pokaż całą książkę</button>
</div>
</body>
</html>